.login {
    text-align: center;
    border: solid white 2px;
    border-radius: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 90px 150px 75px 150px;
    font-size: 25pt;
}
input{
    border: none;
    border-bottom: 2px solid rgb(107, 173, 228);
    border-radius: 15px;
    color: black;
}
input:focus{
    outline: none;
}
h1 {
    margin-left: auto;
    margin-right: auto;
    color: white;
}
body{
    text-align: center;
}
.container{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#submit{
    color: black;
}